.label{
    position: absolute;
    max-width: 20vh;
    margin-top: -60vh;
    margin-left: 135vh;
    padding: 1vh 1vh 1vh 2vh;
    border-style: groove;
    background-color: white;
    direction: rtl;
}
p{
    text-align: center;
}

.map{
    position: absolute;
}